<div>
    <!--vista para registrarse-->
    <form>
      <div class="container">
          <h3>Registro ingreso de datos</h3>
          <div class="mb-3">
            <div class="tamano">
                <img id="user-photo" alt="Alternative text" class="imagen" required>
            </div>
            <br>
            <button type="button" id="btn-foto" class="btn btn-primary">Subir foto</button>
            <br>
              <label for="name" class="form-label">Nombres</label>
              <input class="form-control" id="name" required>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellidos</label>
                <input class="form-control" id="last_name" required>
              </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-secondary" >Aceptar</button>
      </div>
    </form>
  </div>